
  <app-navbar></app-navbar>
  <div class="container text-center">
      <form #viewpolicyForm="ngForm" (ngSubmit)="viewPolicy(consumerId,policyId)" id="viewForm">
          <div class="form-group">
              <label for="consumerId">Consumer Id :</label>
              <input type="text" required class="form-control" name="consumerId" [(ngModel)]="consumerId" placeholder="Enter Consumer Id"/>
          </div>
          <div class="form-group">
              <label for="policyId">Policy Id :</label>
              <input type="text" required class="form-control" name="policyId" [(ngModel)]="policyId" placeholder="Enter Policy Id"/>
          </div>
          <button class="btn btn-primary" [disabled]="viewpolicyForm.form.invalid" type="submit" data-toggle="modal" data-target="#exampleModal">View Policy</button>
      </form>
  </div>
  <div style="padding-top:10%" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <table class="table table-bordered">
                      <h3><strong>Policy Details</strong></h3>
                      <tbody>
                        <tr>
                          <td><strong>Consumer ID </strong></td>
                          <td>{{consumerPolicy.consumerId}}</td>
                        </tr>
                        <tr>
                          <td><strong>Business ID </strong></td>
                          <td>{{consumerPolicy.businessId}}</td>
                        </tr>
                        <tr>
                          <td><strong>Policy ID  </strong></td>
                          <td>{{consumerPolicy.policyId}}</td>
                        </tr>
                        <tr>
                          <td><strong>Accepted Quotes </strong></td>
                          <td>{{consumerPolicy.acceptedQuotes}}</td>
                        </tr>
                        <tr>
                          <td><strong>Policy Status </strong></td>
                          <td>{{consumerPolicy.policyStatus}}</td>
                        </tr>
                        <tr>
                          <td><strong>Payment Details </strong></td>
                          <td>{{consumerPolicy.paymentDetails}}</td>
                        </tr>
                        <tr>
                          <td><strong>Acceptance Status </strong></td>
                          <td>{{consumerPolicy.acceptanceStatus}}</td>
                        </tr>
                        <tr>
                          <td><strong>Effective Date </strong></td>
                          <td>{{consumerPolicy.effectiveDate}}</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
