<router-outlet></router-outlet>
<!-- <div  style="position: absolute;width: 100%;bottom: 1px;" class="container-fluid bg-success">
<footer>
    <nav class="navbar navbar-expand-sm bg-success navbar-dark">
        <h2 class="navbar-brand" > POD 3 Members </h2>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <p class="nav-link">KarthikRaj Harikrishnan</p>
                </li>
                <li class="nav-item"> 
                    <p class="nav-link">Vishal Kumar</p>
                </li>
                <li class="nav-item">
                    <p class="nav-link">Prajakta Pikale</p> 
                </li>
                <li class="nav-item">
                    <p class="nav-link">Prajjwal Agarwal</p>
                </li>
                <li class="nav-item">
                    <p class="nav-link">Hari Prasad P</p>
                </li>
            </ul>
            <p style="color: whitesmoke;">INTCDE21ID007 © 2021</p>
        </div>
    </nav> 
</footer>
</div> -->